@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
}

body {
  font-family: var(--font-sans);
}
